# Example: https://github.com/kubeflow/examples/blob/master/.pylintrc

[MASTER]
# Use multiple processes to speed up Pylint.
jobs=4

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=pylint_quotes

[MESSAGES CONTROL]
disable=C0411, C0114, C0115, C0116, R0903, E0401, C0103, W0212, C0103

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=119

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*(# )?<?https?://\S+>?$


# string format
string-quote=single
triple-quote=double
docstring-quote=double

