.legend-header {
  font: bold 16px sans-serif;
  fill: white;
}

.d3Legend {
  color: white;
  display: flex;
}

.d3BivLegend {
  color: white;
  width: 150px;
  height: 150px;
  position: absolute;
  transform: rotate(45deg);
  top: -10px;
  left: -40px;
}

.d3AidLegend {
  background: #222;
  color: white;
  width: 170px;
  position: absolute;
  top: -70px;
  left: 10px;
  padding: 5px;
  border-radius: 2px;
}

.leggy {
  position: relative;
  width: 150px;
  right: -30px;
}

.legend-holder {
  position: relative;
  top: -50px;
  height: 0;
}

.tooltip {
  background: rgba(16, 16, 16, 0.9);
  color: white;
  border-radius: 10px;
  position: absolute;
  max-width: 200px;
  padding: 5px;
  transition: visibility 0.13s ease-out, opacity 0.13s ease-out;
  box-shadow: 3px 3px rgba(33, 33, 33, 0.33);
}

.county {
  /* transition: fill 0.5s ease-out; */
}

.county:hover {
  stroke-width: 0.2px;
  stroke-opacity: 1;
  transition: all 0.3s ease-out, fill 0.8s ease-out;
  opacity: 1;
}

.circles {
  /* pointer-events: none; */
}

.active {
  stroke-width: 0.5px;
  stroke-opacity: 1;
  transition: all 0.3s ease-out;
  opacity: 1;
  stroke: #fff;
}

.legend-square {
  flex: 1;
  min-width: 50px;
  padding: 0.2em;
  color: #999;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  background: #999;
}

.legend-square:nth-last-child(2) {
  color: rgba(255, 255, 255, 0.9);
}

.legend-square:last-child {
  color: rgba(255, 255, 255, 0.9);
}

.d3Map {
  background-image: linear-gradient(rgba(16, 16, 16, 0.1), rgba(16, 16, 16, 0.5));
}

.tooltip-confirmed {
  color: #9e9e9e;
  font-weight: bold;
  background-color: #222;
}

.tooltip-active {
  color: #ff9800;
  font-weight: bold;
  background-color: #222;
}

.tooltip-deaths {
  color: #f44336;
  font-weight: bold;
  background-color: #222;
}

.tooltip-recovered {
  color: #4caf50;
  font-weight: bold;
  background-color: #222;
}

.tooltip-population {
  color: #00bcd4;
}

.tooltip-meals {
  color: #00bcd4;
}

.tooltip-masks {
  color: #ffff00;
}

.assoc {
  transform: rotate(0deg);
  position: absolute;
  top: 25px;
  text-shadow: 1px 1px 3px rgba(33, 33, 33, 0.8), 0 0 5px black;
}

.cases {
  text-shadow: 1px 1px 3px rgba(33, 33, 33, 0.8), 0 0 5px black;
  transform: rotate(-90deg);
  position: absolute;
  left: 50px;
  top: -25px;
}

@media (max-width: 599.99px) {
  .legend-square {
    font-size: 0.8em;
    min-width: 10vw;
  }

  .legend-holder {
    position: relative;
    top: -40px;
    height: 0;
  }
}
